@import "bootstrap-sprockets"
@import "bootstrap"
@import "rails_bootstrap_forms"
@import "font-awesome-sprockets"
@import "font-awesome"

// From https://color.adobe.com/Campfire-color-theme-2528696/
$c1: #588c7e
$c2: #f2e394
$c3: #00246B
$c4: #d96459
$c5: #8c4646
$border: #666666
$darkbg: #1A1A1A
$footer-height: 3.5em

.root-title
  text-align: center
  color: white
  p.dyla
    font-size: 36px

.root-menu
  color: white

table.reftables
  background-color: #E6E6E6
html
  body
    background-image: url('/assets/spacebg.jpg')
    section
      .container-fluid
        .row
          margin: 0 auto
          margin-top: 60px
          h1
            color: white
          .root-menu
            margin: 0 auto
            width: 10em
            text-align: center
            font-size: 2em
            a
              color: black
            #new-game
              background-color: $c1
            #game-rules
              background-color: $c2
            #game-database
              padding-top: 1em
              #enemy-cards
                background-color: $c3
              #attack-cards
                background-color: $c4
              #tactics-cards
                background-color: $c5
          .enemypanel
            display: inline-block
            vertical-align: top
            height: 418px
            width: 304px
            .enemy-card
              height: 418px
              width: 304px
              border: 2px solid $border
              #enemypicture
                padding: 10px
                width: 300px
                height: 140px
                background-color: #333333
              #enemystats
                padding: 10px
                width: 300px
                background-color: $c4
              #enemydecks
                width: 300px
                background-color: #FF0000
                color: white
          .userpanel
            #playerhand
              border: 2px solid $border
              visibility: hidden
              height: 280px
              background: rgba(0, 36, 107, 0.8)
              padding: 5px
    .footer
      margin-top: 1em
      text-align: center
      position: fixed
      bottom: 0
      width: 100%
      height: $footer-height
      background-color: $c3
      .container
        .text-muted
          margin: 1em 0
          text-align: center
          a
            color: black

#notice
  text-align: center
  .titlebanner
    color: #99FF99
    border: 2px solid $border
    font-size: 20px
    height: 35px
    background-color: $darkbg
    margin-bottom: 5px
    text-align: center

.startnew
  color: red
  width: 200px
  height: 50px
  font-size: 24px
  margin: 10px

.top
  height: 420px
  visibility: hidden
#rundiv
  width: 300px
  background-color: #333333
  text-align: center
  color: white
  padding: 5px
  button.runaway
    color: black

.gamelog
  background-color: $darkbg
  color: #99FF99
  display: inline-block
  vertical-align: top
  height: 400px
  width: 500px
  border: 2px solid $border
  overflow: scroll
  padding: 10px

#techshop
  background-color: white
  display: inline-block
  vertical-align: top
  height: 400px
  width: 500px
  border: 2px solid $border
  #inventory
    overflow: scroll
    height: 350px
    table
      caption
        font-size: 20px
        font-weight: bold
        color: blue
      th
        text-align: center
      tr.body
        background-color: #E6E6E6
  #shopbuttons
    height: 20px
    button
      float: right
      color: #0000CC

#infobar
  background-color: $c3
  color: white
  display: inline-block
  vertical-align: top
  width: 150px
  height: 200px
  border: 2px solid $border
  padding: 5px
  table#playerStats
    tr
      td.vpcolor
        color: #FFFF00
      td.playervp
        color: #FFFF00

#playerdeckdiscard
  background-color: $darkbg
  width: 120px
  height: 50px
  margin: 50px auto 0 auto
  border: 1px solid $border
  padding: 5px

.enemypic
  width: 200px
  height: 120px
  margin: auto

.enemycard
  width: 280px
  height: 150px
  background-color: white
  border: 2px solid black
  margin: 0 auto 0 auto
  padding: 10px

#playersCards
  margin-top: 20px

.playercard
  width: 200px
  height: 230px
  background-color: white
  display: inline-block
  vertical-align: top
  border-radius: 5px
  img
    margin: 5 auto 5 auto
  .attacktitle
    color: #CC0000
    font-size: 20px
  .tacticstitle
    color: #B2B200
    font-size: 20px
  .flavortext
    font-style: italic
    font-size: 12px

.noplay
  border: 2px solid blue

.play
  border: 2px solid red
  position: relative
  bottom: 20px

.playselected
  visibility: hidden

.selectall
  visibility: hidden

.shopbutton
  visibility: hidden

.refillhand
  visibility: hidden

.gamenotices
  display: block
  width: 400px
  height: 300px
  margin: 0 auto 0 auto
  font-size: 36px
  background-color: $darkbg
  color: white
  text-align: center
  padding: 20px
  border: 2px solid $border
  .objectives
    text-align: left
    font-size: 12px
